/* typography */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@font-face {
  font-family: "Metropolis-Black";
  src: url("../fonts/Metropolis-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham-Black";
  src: url("../fonts/Gotham-Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham-Book";
  src: url("../fonts/Gotham-Book.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}
/* variables */
/* main styles */
#es-rc #es-rc-content [data-es-rc] {
  font-family: "Metropolis-Black";
  color: #0f2d5a;
}
#es-rc #es-rc-content [data-es-rc] .es-dot {
  height: 8px;
  width: 8px;
  background-color: #0f2d5a;
  border-radius: 50%;
  display: inline-flex;
  flex-wrap: wrap;
  align-self: center;
}
#es-rc #es-rc-content [data-es-rc] .es-header-gradient {
  text-transform: uppercase;
  background: rgb(224, 198, 140);
  background: linear-gradient(142deg, rgb(224, 198, 140) 0%, rgb(242, 231, 180) 47%, rgb(201, 176, 117) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0c68c", endColorstr="#c9b075", GradientType=1);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
#es-rc #es-rc-content [data-es-rc] .es-sup {
  font-size: 0.6em;
}
#es-rc #es-rc-content [data-es-rc] .es-carousel__slide {
  max-width: 80%;
  margin: auto;
}
#es-rc #es-rc-content [data-es-rc] .es-carousel__btn {
  background-color: #e0c68c;
  border-radius: 50%;
  background-image: none;
  background-size: 25%;
  background-position-y: center;
}
#es-rc #es-rc-content [data-es-rc] .es-carousel__btn--prev {
  background-image: url(../images/btn-prev.webp);
  background-position-x: 40%;
}
#es-rc #es-rc-content [data-es-rc] .es-carousel__btn--next {
  background-image: url(../images/btn-next.webp);
  background-position-x: 55%;
}
#es-rc #es-rc-content [data-es-rc] .img-thumbnail {
  border: none;
  background-color: unset;
}
#es-rc #es-rc-content [data-es-rc] .nav-tabs {
  border-bottom: none;
  gap: 10px;
}
#es-rc #es-rc-content [data-es-rc] .nav-tabs .nav-link {
  text-transform: uppercase;
  font-family: "Metropolis-Black";
  color: #0f2d5a;
  border: none;
  padding-inline: 0;
}
#es-rc #es-rc-content [data-es-rc] .nav-tabs .nav-link.active {
  border-bottom: 4px solid #ff0000;
  color: #ff0000;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--tab {
  background-color: #0a1f41;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--1 {
  background-image: url("../images/bg-finish.webp");
  background-size: cover;
  background-position: center;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--1__header {
  font-family: "Gotham-Book";
  text-transform: uppercase;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--1__header strong {
  font-family: "Gotham-Black";
}
#es-rc #es-rc-content [data-es-rc] .es-finish--1__logo {
  max-height: 100px;
  width: auto;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--1__pack {
  scale: 1;
  transition: all 200ms ease-in-out;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--1__pack:hover {
  scale: 1.05;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--2__single {
  background-image: url("../images/bg-item-finish.webp");
  background-size: cover;
  background-position: center;
  max-width: 200px;
  height: 200px;
  aspect-ratio: 1;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--2__single:hover .es-finish--2__img {
  scale: 1.1;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--2__single p {
  margin-bottom: unset;
  font-size: 1rem;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--2__img {
  max-width: 150px;
  max-height: 120px;
  scale: 1;
  transition: all 200ms ease-in-out;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__header {
  font-family: "Gotham-Book";
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__header strong {
  font-family: "Gotham-Black";
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__single {
  width: 25%;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__packshotCtn {
  position: relative;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__packshot {
  scale: 1;
  transition: all 200ms ease-in-out;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__packshot:hover {
  scale: 1.1;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__badge {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 60%;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__badge--circle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 90%;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__icon {
  height: 80px;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__text {
  font-family: "Open Sans", sans-serif;
}/*# sourceMappingURL=styles.css.map */