/* typography */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

@font-face {
    font-family: "Metropolis-Black";
    src: url("../fonts/Metropolis-Black.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham-Black";
    src: url("../fonts/Gotham-Black.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham-Book";
    src: url("../fonts/Gotham-Book.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}

/* variables */
$es-color-red: #ff0000;
$es-color-navy: #0f2d5a;
$es-color-navy--bg: #0a1f41;
$es-color-navy-pranie: #202f77;
$es-color-gold: #e0c68c;

/* animations */
@keyframes rotate {
    0% {
        transform:
            translate(-50%, -40%) rotate(0);
        transform-origin: center;
    }

    100% {
        transform: translate(-50%, -40%) rotate(360deg);
        transform-origin: center;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-10px);} 
    60% {transform: translateY(-5px);} 
 } 

/* main styles */
#es-rc #es-rc-content [data-es-rc] {
    font-family: "Metropolis-Black";
    color: $es-color-navy;
    overflow-x: hidden;
    max-width: 1200px;
    margin: auto;
    h2 {
        font-size: 2.3rem;
    }

    .es-mobile-menu {
        background-image: url(../images/mobile-menu.webp);
    }

    .es-dot {
        display: none;
    }

    @media (min-width: 560px) {
        .es-dot {
            height: 8px;
            width: 8px;
            background-color: $es-color-navy;
            border-radius: 50%;
            display: inline-flex;
            flex-wrap: wrap;
            align-self: center;
        }
    }

    .es-header-gradient {
        text-transform: uppercase;
        background: rgb(224, 198, 140);
        background: -moz-linear-gradient(142deg,
                rgba(224, 198, 140, 1) 0%,
                rgba(242, 231, 180, 1) 47%,
                rgba(201, 176, 117, 1) 100%);
        background: -webkit-linear-gradient(142deg,
                rgba(224, 198, 140, 1) 0%,
                rgba(242, 231, 180, 1) 47%,
                rgba(201, 176, 117, 1) 100%);
        background: linear-gradient(142deg,
                rgba(224, 198, 140, 1) 0%,
                rgba(242, 231, 180, 1) 47%,
                rgba(201, 176, 117, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0c68c", endColorstr="#c9b075", GradientType=1);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }

    .es-sup {
        font-size: 0.6em;
    }

    .es-carousel {
        &__slide {
            max-width: 80%;
            margin: auto;
        }

        &__btn {
            background-color: $es-color-gold;
            border-radius: 50%;
            background-image: none;
            background-size: 25%;
            background-position-y: center;

            &--prev {
                background-image: url(../images/btn-prev.webp);
                background-position-x: 40%;
            }

            &--next {
                background-image: url(../images/btn-next.webp);
                background-position-x: 55%;
            }
        }
    }

    .img-thumbnail {
        border: none;
        background-color: unset;
    }

    .nav-tabs {
        border-bottom: none;
        gap: 10px;

        .nav-link {
            text-transform: uppercase;
            font-family: "Metropolis-Black";
            color: $es-color-navy;
            border: none;
            padding-inline: 0;

            &.active {
                border-bottom: 4px solid $es-color-red;
                color: $es-color-red;
            }
        }
    }
    /*******************************************************/
    /********************** main tab ***********************/
    /*******************************************************/
    .es-main--tab {
        &__Ctn {
            min-height: 400px;
            aspect-ratio: 400 / 550;
            overflow: hidden;
        }

        &__header {
            position: relative;

            h2 {
                color: white;
                text-transform: uppercase;
                margin-right: 2rem;
                margin-top: 1rem;

                em {
                    font-style: normal;
                    display: block;
                    margin-left: 3rem;
                }

                span {
                    display: block;
                    font-size: 0.75em;
                    margin-left: 2em;
                }
            }
        }

        &__Ctn {
            position: relative;
            z-index: 2;
        }

        &__pack {
            position: relative;
            z-index: 2;
            scale: 1;
            transition: all 200ms ease-in;
            min-width: 200px;

            &:hover {
                scale: 1.05;
            }
        }

        &__shine {
            position: absolute;
            left: 50%;
            top: 4%;
            transform: translate(-50%, -50%);
            z-index: 1;
            animation: rotate 40s linear 0s infinite normal forwards;
        }

    }

    @media (min-width: 576px) {
        .es-main--tab {
            &__Ctn {
                min-height: 300px;
                aspect-ratio: unset;
            }
        }
    }

    @media (min-width: 992px) {
        .es-main--tab {
            &__Ctn {
                min-height: 350px;
            }
        }
    }

    .es-main--1 {
        background-image: url(../images/bg-main-1-mobile.webp);
        background-size: cover;
        background-position: center;

        &__header {
            h2 {
                em {
                    color: #c8e860;
                }
            }
        }

        &__bg-icon {
            position: absolute;
            top: -10px;
            left: 79%;
            transform: translate(-50%, 0);
            scale: 0.9;
            transition: all 200ms ease-in-out;
        }

        &__logo {
            max-width: 100px;
        }

        @media (min-width: 460px) {
            .es-main--1__logo {
                max-width: 200px;
            }
        }

        &__Ctn {
            position: relative;
            z-index: 2;
        }

        &__pack {
            position: relative;
            z-index: 2;
            scale: 1;
            transition: all 200ms ease-in;
            min-width: 200px;

            &:hover {
                scale: 1.05;
            }
        }

        &__shine {
            position: absolute;
            left: 50%;
            top: 13%;
            transform: translate(-50%, -50%);
            z-index: 1;
            animation: rotate 40s linear 0s infinite normal forwards;
        }

    }

    @media (min-width: 576px) {
        .es-main--1 {
            background-image: url("../images/bg-main-1-desktop.webp");

            &__Ctn--L {
                flex-direction: column-reverse !important;
                justify-content: center;
            }

            &__logo {
                max-width: 100px !important;
                display: block;
                margin: auto;
                margin-bottom: 0.5rem;
                margin-top: 0;
            }

            &__bg-icon {
                top: -48%;
                left: 32%;
                scale: 1.2;
            }

            &__shine {
                scale: 1.4;
                left: 71%;
                top: 29%;
            }
        }
    }

    .es-main--2 {
        background-image: url(../images/bg-main-2-mobile.webp);
        background-size: cover;
        background-position: center;

        &__header {
            h2 {
                position: relative;
                z-index: 2;
                margin-left: -2rem;

                em {
                    color: #1317a2;
                    margin-left: 7rem;
                }

                span {
                    margin-left: 6rem;
                }
            }
        }

        &__bg-icon {
            position: absolute;
            z-index: 0;
            top: -10px;
            left: 67%;
            transform: translate(-50%, 0);
            scale: 0.8;
            transition: all 200ms ease-in-out;
        }

        @media (min-width: 576px) {
            .es-main--2__bg-icon {
                scale: 1.2;
                left: 48%;
                top: -10%;
            }
        }

        &__Ctn {
            position: relative;
            z-index: 2;
        }

        &__pack {
            position: relative;
            z-index: 2;
            scale: 1;
            transition: all 200ms ease-in;
            min-width: 200px;

            &:hover {
                scale: 1.05;
            }
        }

        &__shine {
            position: absolute;
            left: 50%;
            top: 13%;
            transform: translate(-50%, -50%);
            z-index: 1;
            animation: rotate 40s linear 0s infinite normal forwards;
        }
    }

    @media (min-width: 576px) {
        .es-main--2 {
            background-image: url("../images/bg-main-2-desktop.webp");
        }
    }

    .es-main--3 {
        background-image: url(../images/bg-main-3-mobile.webp);
        background-size: cover;
        background-position: center;

        &__header {
            h2 {
                position: relative;
                z-index: 2;
                margin-left: -4rem;

                em {
                    color: #e41412;
                    margin-left: 7rem;
                }

                span {
                    margin-left: 6rem;
                }
            }
        }

        &__bg-icon {
            position: absolute;
            z-index: 0;
            top: 10px;
            left: 79%;
            transform: translate(-50%, 0);
            scale: 0.8;
            transition: all 200ms ease-in-out;
        }

        @media (min-width: 576px) {
            .es-main--3__bg-icon {
                scale: 1.2;
                left: 48%;
                top: -10%;
            }
        }

        &__Ctn {
            position: relative;
            z-index: 2;
        }

        &__pack {
            position: relative;
            z-index: 2;
            scale: 1;
            transition: all 200ms ease-in;
            min-width: 200px;

            &:hover {
                scale: 1.05;
            }
        }

        &__shine {
            position: absolute;
            left: 50%;
            top: 0%;
            transform: translate(-50%, -50%);
            z-index: 1;
            animation: rotate 40s linear 0s infinite normal forwards;
        }
    }

    @media (min-width: 576px) {
        .es-main--3 {
            background-image: url("../images/bg-main-3-desktop.webp");
        }
    }
    /*******************************************************/
    /*********************** finish ************************/
    /*******************************************************/
    .es-finish--tab {
        background-color: $es-color-navy--bg;
    }

    .es-finish--1 {
        background-image: url("../images/bg-finish.webp");
        background-size: 250%;
        background-position-x: 84%;
        background-position-y: 150%;
        background-repeat: no-repeat;

        &__header {
            font-family: "Gotham-Book";
            text-transform: uppercase;
            font-size: 2.7rem;
            margin-bottom: 2rem;
            line-height: 0.9;

            strong {
                font-family: "Gotham-Black";
                font-size: 2.2rem;
            }

            span {
                font-size: 2.6rem;
            }
        }

        &__logo {
            max-height: 100px;
            width: auto;
            margin-bottom: 2rem;
        }

        &__pack {
            scale: 1;
            transition: all 200ms ease-in-out;
            min-width: 250px;

            &:hover {
                scale: 1.05;
            }
        }
    }

    @media (min-width: 576px) {
        .es-finish--1 {
            min-height: 400px;
            background-size: cover;
            background-position: center;

            &__header {
                strong {
                    display: block;
                }
            }
        }
    }

    .es-finish--2 {
        &__flexCtn {
            row-gap: 5px;
        }

        &__single {
            background-image: url("../images/bg-item-finish.webp");
            background-size: cover;
            background-position: center;
            min-width: 130px;
            max-width: 200px;
            min-height: 130px;
            max-height: 200px;
            aspect-ratio: 1;

            &:hover .es-finish--2__img {
                scale: 1.1;
            }

            p {
                margin-bottom: unset;
                font-size: 0.8rem;
            }
        }

        &__img {
            min-height: 90px;
            scale: 1;
            transition: all 200ms ease-in-out;
        }
    }

    @media (min-wdth: 576px) {
        .es-finish--2 {
            &__single {
                p {
                    font-size: 1rem;
                }
            }
        }
    }

    .es-finish--3 {
        &__header {
            font-family: "Gotham-Book";

            strong {
                font-family: "Gotham-Black";
                display: block;
            }
        }
        &__single {
            opacity: 0.8;
            transform: all 200ms ease-in;
            margin-block: 0.5rem;

            &:hover .es-finish--3__icon {
                scale: 1.05;
            }

            &:hover {
                opacity: 1;
            }
        }

        &__packshotCtn {
            position: relative;
        }

        &__packshot {
            scale: 1;
            transition: all 200ms ease-in-out;

            &:hover .es-finish--3__badge {
                scale: 1.1;
            }
        }

        &__badge {
            position: absolute;
            top: 0;
            right: 0;
            max-width: 60%;
            scale: 1;
        }

        &__icon {
            // height: 40px;
            width: 40px;
            scale: 1;
        }

        &__text {
            font-family: "Open Sans", sans-serif;
            margin-bottom: 0;
        }
    }

    @media (min-width: 576px) {
        .es-finish--3 {
            &__badge {
                top: -10%;
                right: -10%;
            }
        }
    }

    @media (min-width: 768px) {
        .es-finish--3 {
            &__header {
                strong {
                    display: inline;
                }
            }

            &__badge {
                top: -13%;
                right: 5%;
            }

            &__icon {
                width: auto;
                height: 80px;
            }

            &__single {
                width: 23%;
            }
        }
    }

    @media (min-width: 992px) {
        .es-finish--3 {
            &__packshot {
                scale: 1.2;
            }

            &__badge {
                scale: 1.3;
                top: -17%;
                right: -20%;
            }
        }
    }

    .es-finish--4 {
        background-image: url("../images/bg-finish--4.webp");
        background-size: cover;
        background-position: center;
        min-height: 600px;

        &__header {
            font-family: "Gotham-Book";
            padding: 1rem;

            strong {
                font-family: "Gotham-Black";
                display: block;
            }
        }

        &__logo {
            width: 60%;
            max-width: 250px;
        }

        &__badge {
            display: none;
        }

        &__packs {
            width: 80%;
            max-width: 500px;
            scale: 1;
            transition: all 200ms ease-in-out;
            &:hover {
                scale: 1.1;
            }
        }
    }

    @media (min-width: 768px) {
        .es-finish--4 {
            background-image: url("../images/bg-finish--4-desktop.webp");
            min-height: unset;

            &__badge {
                display: block;
                max-width: 250px;
                margin-block: 2rem;
            }

            &__packs {
                max-width: unset;
            }
        }
    }
    .es-finish--5 {
        // background-image: url("../images/bg-table.webp");
        background-size: cover;
        background-position: center;
        &__header {
            font-family: "Gotham-Book";
            strong {
                font-family: "Gotham-Black";
            }
        }
        &__table {
            color: white;
            background-image: url("../images/table-bg-blocks.webp");
            background-size: 77% 97%;
            background-repeat: no-repeat;
            background-position: right top;
        }
        &__table-head--1 {
            min-width: 194px;
        }
        &__table-head {
            min-width: 130px;
        }
        &__table-img {
            max-width: 90%;
        }
        &__table-txt {
            color: white;
            font-family: "Gotham-Book";
            margin: 0;
            font-size: 0.8rem;
            line-height: 1.4;
        }
        &__table-icon {
            display: none;
        }
        &__table-row {
            height: 2.5rem;
            padding-left: 0.5rem;
            background-color: #002D6F!important;
            &--striped {
                
                height: 2.5rem;
                padding-left: 0.5rem;
            }
        }
        &__tr {
            background-color: rgba(255, 255, 255, 0.15);
        }
        &__table-dot {
            &--1 {
                color: #bba576;
                background: -moz-linear-gradient(142deg,
                rgba(224, 198, 140, 1) 0%,
                rgba(242, 231, 180, 1) 47%,
                rgba(201, 176, 117, 1) 100%);
        background: -webkit-linear-gradient(142deg,
                rgba(224, 198, 140, 1) 0%,
                rgba(242, 231, 180, 1) 47%,
                rgba(201, 176, 117, 1) 100%);
        background: linear-gradient(142deg,
                rgba(224, 198, 140, 1) 0%,
                rgba(242, 231, 180, 1) 47%,
                rgba(201, 176, 117, 1) 100%);
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
            &--2 {
                background-color: #002D6F;
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
            &--3 {
                background-color: white;
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
        }
        &__button {
            background-color: #e0c68c;
            color: white;
            font-family: "Gotham-Black";
            font-size: 0.9rem;
            margin: auto;
            display: block;
            padding: 0.5rem;
            text-align: center;
            max-width: 110px;
            &:hover {
                background-color: #d4bb85;
            }
            &:active {
                background-color: #bba576;
            }
        }
    }
    @media (min-width: 768px) {
        .es-finish--5 {
            
            &__table {
            background-size: 73% 97%;    
            }
            &__table-head--1 {
                min-width: 240px;
            }
            &__table-icon {
                display: block;
                max-width: 40px;
            }
        }
    }
    @media (min-width: 960px) {
        .es-finish--5 {
            &__table {
             background-size: 74.5% 97%;   
            }
            
        }
    }
    @media (min-width: 1000px) {
        .es-finish--5 {
            &__table {
             background-size: 75% 96%;   
            }
            
        }
    }
    @media (min-width: 1050px) {
        .es-finish--5 {
            &__table {
             background-size: 76% 97%;   
            }
            
        }
    }
    @media (min-width: 1100px) {
        .es-finish--5 {
            &__table {
             background-size: 77% 98%;   
            }
            
        }
    }
    @media (min-width: 1130px) {
        .es-finish--5 {
            &__table {
             background-size: 77% 98%;   
            }
            
        }
    }
    @media (min-width: 1140px) {
        .es-finish--5 {
            &__table {
             background-size: 78% 99%;   
            }
            
        }
    }
    @media (min-width: 1190px) {
        .es-finish--5 {
            &__table {
             background-size: 78.5% 100%;   
            }
            
        }
    }

    /*******************************************************/
    /*********************** pranie ************************/
    /*******************************************************/

    .es-pranie--1 {
        background-image: url("../images/bg-pranie-mobile.webp");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        font-family: "Metropolis-Black";
        text-transform: uppercase;
        overflow: hidden;
        min-height: 200px;
        &__header {
            font-size: 2.7rem;
            margin-bottom: 0;
            margin-top: 4rem;
            line-height: 0.9;
            color: $es-color-navy-pranie;
        }
        &__pack {
            scale: 1;
            transition: all 200ms ease-in-out;
            min-width: 250px;
            &:hover {
                scale: 1.05;
            }
        }
    }
    #es-background-wrap {
        bottom: 0;
        left: 0;
        position: static;
        right: 0;
        top: 0;
        z-index: 1;
    }
    /* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 50%;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 50%;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 50%;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* BUBBLE ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear 1, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear 1, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear 1, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear 1, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear 1, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear 1, sideWays 4s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear 1, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear 1, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear 1, sideWays 2s ease-in-out infinite alternate;
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear 1, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear 1, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear 1, sideWays 3s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear 1, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear 1, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear 1, sideWays 4s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}
.x6 {
    -webkit-animation: animateBubble 21s linear 1, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear 1, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear 1, sideWays 2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear 1, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear 1, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear 1, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear 2, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear 2, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear 2, sideWays 3s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear 1, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear 1, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear 1, sideWays 4s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear 1, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear 1, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear 1, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}
.es-bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 200px;
	position: absolute;
	width: 200px;
}

.es-bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}
.es-bubble:hover {
display: none;
}


    @media (min-width: 576px) {
        .es-pranie--1 {
            background-image: url("../images/bg-pranie-dekstop.webp");
            background-position: center;
            &__header {
                font-size: 2.1rem;
                margin-bottom: 0;
                margin-top: 0;
            }
        }
    }
    @media (min-width: 768px) {
        .es-pranie--1 {
            min-height: 250px;
        }
    }
    @media (min-width: 992px) {
        .es-pranie--1 {
            min-height: 300px;
            &__header {
                font-size: 2.5rem;
            }
        }
    }

    .es-pranie--2 {
        &__flexCtn {
            row-gap: 5px;
        }
        &__img {
            min-height: 90px;
            scale: 1;
            transition: all 200ms ease-in-out;
        }
        &__single {
            background-image: url("../images/pranie-bg--1.webp");
            background-size: cover;
            background-position: center;
            min-width: 130px;
            max-width: 200px;
            min-height: 130px;
            max-height: 200px;
            aspect-ratio: 1;
            &--2 {
                background-image: url("../images/pranie-bg--2.webp");
            }
            &:hover .es-finish--2__img {
                scale: 1.1;
            }
            p {
                text-transform: uppercase;
                color: $es-color-navy-pranie;
                margin-bottom: unset;
                font-size: 1rem;
            }
        }
        
    }

    .es-pranie--3 {
        background-image: url("../images/lovela-bg.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: "Metropolis-Black";
        text-transform: uppercase;
        overflow: hidden;
        position: relative;
        &__logo {
            max-width: 150px;
        }
        &__header {
            margin-block: 0.5rem;
            color: $es-color-navy-pranie;
        }
        &__badge {
            display: none;
        }
        &__pack {
            scale: 1;
            transition: all 200ms ease-in-out;
            min-width: 250px;
            &:hover {
                scale: 1.05;
            }
        }
    }

    @media (min-width: 576px) {
        .es-pranie--3 {
            &__header {
                font-size: 1.2rem;
            }
            &__badge {
                display: block;
                position: absolute;
                left: 43%;
                top: 17%;
                max-width: 100px;
            }
        }
    }
    @media (min-width: 800px) {
        .es-pranie--3 {
            min-height: 250px;
            &__badge {
                left: 40%;
                max-width: 130px;
            }
            &__logo {
                max-width: 200px;
                margin-bottom: 2rem;
            }
        }
    }
    @media (min-width: 992px) {
        .es-pranie--3 {
            min-height: 300px;
            &__badge {
                max-width: 150px;
            }
        }
    }

    .es-pranie--4 {
        &__flexCtn {
            row-gap: 5px;
        }
        &__single {

            min-width: 130px;
            max-width: 200px;
            


            &:hover .es-pranie--4__img {
                scale: 1.1;
                -webkit-animation-name: bounce; 
            animation-name: bounce;
                -webkit-animation-duration: 1s;
                animation-duration: 1s; 
                -webkit-animation-fill-mode: both; 
                animation-fill-mode: both; 
            }
            p {
                text-transform: uppercase;
                color: $es-color-navy-pranie;
                margin-bottom: unset;
                font-size: 0.8rem;
                height: 2.2rem;
            }
        }
        &__img {
            max-width: 100px;
            scale: 1;
            transition: all 200ms ease-in-out;
        }
    }
@media (min-width: 576px) {
    .es-pranie--4 {
        &__single {
            p {
                font-size: 1rem;
                height: 2.5rem;
            }
        }
    }
}
@media (min-width: 768px) {
    .es-pranie--4 {
        &__single {
            p {
                height: 4.2rem;
            }
        }
    }
}
/** woolite **/
.es-pranie--5 {
    background-image: url("../images/woolite-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Metropolis-Black";
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    &__logo {
        max-width: 150px;
    }
    &__header {
        margin-block: 0.5rem;
        color: white;
    }
    &__badge {
        display: none;
    }
    &__pack {
        scale: 1;
        transition: all 200ms ease-in-out;
        min-width: 250px;
        &:hover {
            scale: 1.05;
        }
    }
}

@media (min-width: 576px) {
    .es-pranie--5 {
        &__header {
            font-size: 1.2rem;
        }
        &__badge {
            display: block;
            position: absolute;
            left: 43%;
            top: 17%;
            max-width: 150px;
        }
    }
}
@media (min-width: 800px) {
    .es-pranie--5 {
        min-height: 250px;
        &__logo {
            max-width: 200px;
            margin-bottom: 2rem;
        }
    }
}
@media (min-width: 992px) {
    .es-pranie--5 {
        min-height: 300px;
        &__badge {
            max-width: 200px;
            top: 8%;
            left: 40%;
        }
    }
}

.es-pranie--6 {
    &__flexCtn {
        row-gap: 5px;
    }
    &__single {

        min-width: 130px;
        max-width: 200px;
        


        &:hover .es-pranie--6__img {
            scale: 1.1;
            -webkit-animation-name: bounce; 
        animation-name: bounce;
            -webkit-animation-duration: 1s;
            animation-duration: 1s; 
            -webkit-animation-fill-mode: both; 
            animation-fill-mode: both; 
        }
        p {
            text-transform: uppercase;
            color: $es-color-navy-pranie;
            margin-bottom: unset;
            font-size: 0.8rem;
            height: 2.2rem;
        }
    }
    &__img {
        max-width: 100px;
        scale: 1;
        transition: all 200ms ease-in-out;
    }
}
@media (min-width: 576px) {
.es-pranie--6 {
    &__single {
        p {
            font-size: 1rem;
            height: 2.5rem;
        }
    }
}
}
@media (min-width: 768px) {
.es-pranie--6 {
    &__single {
        p {
            height: 4.2rem;
        }
    }
}
}
/** bryza **/
.es-pranie--7 {
    background-image: url("../images/bryza-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Metropolis-Black";
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    &__logo {
        max-width: 150px;
    }
    &__header {
        margin-block: 0.5rem;
        color: white;
    }
    &__pack {
        scale: 1;
        transition: all 200ms ease-in-out;
        min-width: 250px;
        &:hover {
            scale: 1.05;
        }
    }
}

@media (min-width: 576px) {
    .es-pranie--7 {
        background-position: center;
        &__header {
            font-size: 1.2rem;
        }
    }
}
@media (min-width: 800px) {
    .es-pranie--7 {
        min-height: 250px;
        &__logo {
            max-width: 200px;
            margin-bottom: 2rem;
        }
    }
}
@media (min-width: 992px) {
    .es-pranie--7 {
        min-height: 300px;
    }
}

.es-pranie--8 {
    &__flexCtn {
        row-gap: 5px;
    }
    &__single {

        min-width: 130px;
        max-width: 200px;
        


        &:hover .es-pranie--8__img {
            scale: 1.1;
            -webkit-animation-name: bounce; 
        animation-name: bounce;
            -webkit-animation-duration: 1s;
            animation-duration: 1s; 
            -webkit-animation-fill-mode: both; 
            animation-fill-mode: both; 
        }
        p {
            text-transform: uppercase;
            color: $es-color-navy-pranie;
            margin-bottom: unset;
            font-size: 0.8rem;
            height: 2.2rem;
        }
    }
    &__img {
        max-width: 100px;
        scale: 1;
        transition: all 200ms ease-in-out;
    }
}
@media (min-width: 576px) {
.es-pranie--8 {
    &__single {
        p {
            font-size: 1rem;
            height: 2.5rem;
        }
    }
}
}
@media (min-width: 768px) {
.es-pranie--8 {
    &__single {
        p {
            height: 4.2rem;
        }
    }
}
}

/** vanish **/
.es-pranie--9 {
    background-image: url("../images/vanish-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Metropolis-Black";
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    &__logo {
        max-width: 150px;
    }
    &__header {
        margin-block: 0.5rem;
        color: white;
    }
    &__pack {
        scale: 1;
        transition: all 200ms ease-in-out;
        min-width: 250px;
        &:hover {
            scale: 1.05;
        }
    }
}

@media (min-width: 576px) {
    .es-pranie--9 {
        background-position: center;
        &__header {
            font-size: 1.2rem;
        }
    }
}
@media (min-width: 800px) {
    .es-pranie--9 {
        min-height: 280px;
        &__logo {
            max-width: 200px;
            margin-bottom: 2rem;
        }
        &__pack {
            position: absolute;
            bottom: 0;
            max-width: 302px;
        }
    }
}
@media (min-width: 992px) {
    .es-pranie--9 {
        min-height: 320px;
        &__pack {
            max-width: 350px;
        }
    }
}

.es-pranie--10 {
    &__flexCtn {
        row-gap: 5px;
    }
    &__single {

        min-width: 130px;
        max-width: 200px;
        &:hover .es-pranie--10__img {
            scale: 1.1;
            -webkit-animation-name: bounce; 
        animation-name: bounce;
            -webkit-animation-duration: 1s;
            animation-duration: 1s; 
            -webkit-animation-fill-mode: both; 
            animation-fill-mode: both; 
        }
        p {
            text-transform: uppercase;
            color: $es-color-navy-pranie;
            margin-bottom: unset;
            font-size: 0.8rem;
            height: 2.2rem;
        }
    }
    &__img {
        max-width: 100px;
        scale: 1;
        transition: all 200ms ease-in-out;
    }
}
@media (min-width: 576px) {
.es-pranie--10 {
    &__single {
        p {
            font-size: 0.9rem;
            height: 3rem;
        }
    }
}
}
@media (min-width: 768px) {
.es-pranie--10 {
    &__single {
        p {
            height: 3.8rem;
        }
    }
}
}
/** calgon **/
.es-pranie--11 {
    background-image: url("../images/calgon-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Metropolis-Black";
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    &__logo {
        max-width: 150px;
    }
    &__header {
        margin-block: 0.5rem;
        color: white;
    }
    &__pack {
        scale: 1;
        transition: all 200ms ease-in-out;
        min-width: 250px;
        &:hover {
            scale: 1.05;
        }
    }
}

@media (min-width: 576px) {
    .es-pranie--11 {
        background-position: right;
        &__header {
            font-size: 1.2rem;
        }
    }
}
@media (min-width: 800px) {
    .es-pranie--11 {
        min-height: 280px;
        &__logo {
            max-width: 200px;
            margin-bottom: 2rem;
        }
        &__pack {
            position: absolute;
            bottom: 0;
            max-width: 302px;
        }
    }
}
@media (min-width: 992px) {
    .es-pranie--11 {
        min-height: 320px;
        &__pack {
            max-width: 350px;
        }
    }
}

.es-pranie--12 {
    &__flexCtn {
        row-gap: 5px;
    }
    &__single {

        min-width: 130px;
        max-width: 200px;
        &:hover .es-pranie--12__img {
            scale: 1.1;
            -webkit-animation-name: bounce; 
        animation-name: bounce;
            -webkit-animation-duration: 1s;
            animation-duration: 1s; 
            -webkit-animation-fill-mode: both; 
            animation-fill-mode: both; 
        }
        p {
            text-transform: uppercase;
            color: $es-color-navy-pranie;
            margin-bottom: unset;
            font-size: 0.8rem;
            height: 2.2rem;
        }
    }
    &__img {
        max-width: 100px;
        scale: 1;
        transition: all 200ms ease-in-out;
    }
}
@media (min-width: 576px) {
.es-pranie--12 {
    &__single {
        p {
            font-size: 0.9rem;
            height: 3rem;
        }
    }
}
}
}
