/* typography */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@font-face {
  font-family: "Metropolis-Black";
  src: url("../fonts/Metropolis-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham-Black";
  src: url("../fonts/Gotham-Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham-Book";
  src: url("../fonts/Gotham-Book.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}
/* variables */
/* animations */
@keyframes rotate {
  0% {
    transform: translate(-50%, -40%) rotate(0);
    transform-origin: center;
  }
  100% {
    transform: translate(-50%, -40%) rotate(360deg);
    transform-origin: center;
  }
}
/* main styles */
#es-rc #es-rc-content [data-es-rc] {
  font-family: "Metropolis-Black";
  color: #0f2d5a;
  overflow-x: hidden;
}
#es-rc #es-rc-content [data-es-rc] h2 {
  font-size: 2.3rem;
}
#es-rc #es-rc-content [data-es-rc] .es-mobile-menu {
  background-image: url(../images/mobile-menu.webp);
}
#es-rc #es-rc-content [data-es-rc] .es-dot {
  display: none;
}
@media (min-width: 560px) {
  #es-rc #es-rc-content [data-es-rc] .es-dot {
    height: 8px;
    width: 8px;
    background-color: #0f2d5a;
    border-radius: 50%;
    display: inline-flex;
    flex-wrap: wrap;
    align-self: center;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-header-gradient {
  text-transform: uppercase;
  background: rgb(224, 198, 140);
  background: linear-gradient(142deg, rgb(224, 198, 140) 0%, rgb(242, 231, 180) 47%, rgb(201, 176, 117) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0c68c", endColorstr="#c9b075", GradientType=1);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
#es-rc #es-rc-content [data-es-rc] .es-sup {
  font-size: 0.6em;
}
#es-rc #es-rc-content [data-es-rc] .es-carousel__slide {
  max-width: 80%;
  margin: auto;
}
#es-rc #es-rc-content [data-es-rc] .es-carousel__btn {
  background-color: #e0c68c;
  border-radius: 50%;
  background-image: none;
  background-size: 25%;
  background-position-y: center;
}
#es-rc #es-rc-content [data-es-rc] .es-carousel__btn--prev {
  background-image: url(../images/btn-prev.webp);
  background-position-x: 40%;
}
#es-rc #es-rc-content [data-es-rc] .es-carousel__btn--next {
  background-image: url(../images/btn-next.webp);
  background-position-x: 55%;
}
#es-rc #es-rc-content [data-es-rc] .img-thumbnail {
  border: none;
  background-color: unset;
}
#es-rc #es-rc-content [data-es-rc] .nav-tabs {
  border-bottom: none;
  gap: 10px;
}
#es-rc #es-rc-content [data-es-rc] .nav-tabs .nav-link {
  text-transform: uppercase;
  font-family: "Metropolis-Black";
  color: #0f2d5a;
  border: none;
  padding-inline: 0;
}
#es-rc #es-rc-content [data-es-rc] .nav-tabs .nav-link.active {
  border-bottom: 4px solid #ff0000;
  color: #ff0000;
}
#es-rc #es-rc-content [data-es-rc] .es-main--tab__Ctn {
  min-height: 400px;
  aspect-ratio: 400/550;
}
#es-rc #es-rc-content [data-es-rc] .es-main--tab__header {
  position: relative;
}
#es-rc #es-rc-content [data-es-rc] .es-main--tab__header h2 {
  color: white;
  text-transform: uppercase;
  margin-right: 2rem;
  margin-top: 1rem;
}
#es-rc #es-rc-content [data-es-rc] .es-main--tab__header h2 em {
  font-style: normal;
  display: block;
  margin-left: 3rem;
}
#es-rc #es-rc-content [data-es-rc] .es-main--tab__header h2 span {
  display: block;
  font-size: 0.75em;
  margin-left: 2em;
}
#es-rc #es-rc-content [data-es-rc] .es-main--tab__Ctn {
  position: relative;
  z-index: 2;
}
#es-rc #es-rc-content [data-es-rc] .es-main--tab__pack {
  position: relative;
  z-index: 2;
  scale: 1;
  transition: all 200ms ease-in;
  min-width: 200px;
}
#es-rc #es-rc-content [data-es-rc] .es-main--tab__pack:hover {
  scale: 1.05;
}
#es-rc #es-rc-content [data-es-rc] .es-main--tab__shine {
  position: absolute;
  left: 50%;
  top: 4%;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: rotate 40s linear 0s infinite normal forwards;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-main--tab__Ctn {
    min-height: 300px;
    aspect-ratio: unset;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content [data-es-rc] .es-main--tab__Ctn {
    min-height: 350px;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-main--1 {
  background-image: url(../images/bg-main-1-mobile.webp);
  background-size: cover;
  background-position: center;
}
#es-rc #es-rc-content [data-es-rc] .es-main--1__header h2 em {
  color: #c8e860;
}
#es-rc #es-rc-content [data-es-rc] .es-main--1__bg-icon {
  position: absolute;
  top: -10px;
  left: 79%;
  transform: translate(-50%, 0);
  scale: 0.9;
  transition: all 200ms ease-in-out;
}
#es-rc #es-rc-content [data-es-rc] .es-main--1__logo {
  max-width: 100px;
}
@media (min-width: 460px) {
  #es-rc #es-rc-content [data-es-rc] .es-main--1 .es-main--1__logo {
    max-width: 200px;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-main--1__Ctn {
  position: relative;
  z-index: 2;
}
#es-rc #es-rc-content [data-es-rc] .es-main--1__pack {
  position: relative;
  z-index: 2;
  scale: 1;
  transition: all 200ms ease-in;
  min-width: 200px;
}
#es-rc #es-rc-content [data-es-rc] .es-main--1__pack:hover {
  scale: 1.05;
}
#es-rc #es-rc-content [data-es-rc] .es-main--1__shine {
  position: absolute;
  left: 50%;
  top: 13%;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: rotate 40s linear 0s infinite normal forwards;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-main--1 {
    background-image: url("../images/bg-main-1-desktop.webp");
  }
  #es-rc #es-rc-content [data-es-rc] .es-main--1__Ctn--L {
    flex-direction: column-reverse !important;
    justify-content: center;
  }
  #es-rc #es-rc-content [data-es-rc] .es-main--1__logo {
    max-width: 100px !important;
    display: block;
    margin: auto;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }
  #es-rc #es-rc-content [data-es-rc] .es-main--1__bg-icon {
    top: -48%;
    left: 32%;
    scale: 1.2;
  }
  #es-rc #es-rc-content [data-es-rc] .es-main--1__shine {
    scale: 1.4;
    left: 71%;
    top: 29%;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-main--2 {
  background-image: url(../images/bg-main-2-mobile.webp);
  background-size: cover;
  background-position: center;
}
#es-rc #es-rc-content [data-es-rc] .es-main--2__header h2 {
  position: relative;
  z-index: 2;
  margin-left: -2rem;
}
#es-rc #es-rc-content [data-es-rc] .es-main--2__header h2 em {
  color: #1317a2;
  margin-left: 7rem;
}
#es-rc #es-rc-content [data-es-rc] .es-main--2__header h2 span {
  margin-left: 6rem;
}
#es-rc #es-rc-content [data-es-rc] .es-main--2__bg-icon {
  position: absolute;
  z-index: 0;
  top: -10px;
  left: 67%;
  transform: translate(-50%, 0);
  scale: 0.8;
  transition: all 200ms ease-in-out;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-main--2 .es-main--2__bg-icon {
    scale: 1.2;
    left: 48%;
    top: -10%;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-main--2__Ctn {
  position: relative;
  z-index: 2;
}
#es-rc #es-rc-content [data-es-rc] .es-main--2__pack {
  position: relative;
  z-index: 2;
  scale: 1;
  transition: all 200ms ease-in;
  min-width: 200px;
}
#es-rc #es-rc-content [data-es-rc] .es-main--2__pack:hover {
  scale: 1.05;
}
#es-rc #es-rc-content [data-es-rc] .es-main--2__shine {
  position: absolute;
  left: 50%;
  top: 13%;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: rotate 40s linear 0s infinite normal forwards;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-main--2 {
    background-image: url("../images/bg-main-2-desktop.webp");
  }
}
#es-rc #es-rc-content [data-es-rc] .es-main--3 {
  background-image: url(../images/bg-main-3-mobile.webp);
  background-size: cover;
  background-position: center;
}
#es-rc #es-rc-content [data-es-rc] .es-main--3__header h2 {
  position: relative;
  z-index: 2;
  margin-left: -4rem;
}
#es-rc #es-rc-content [data-es-rc] .es-main--3__header h2 em {
  color: #e41412;
  margin-left: 7rem;
}
#es-rc #es-rc-content [data-es-rc] .es-main--3__header h2 span {
  margin-left: 6rem;
}
#es-rc #es-rc-content [data-es-rc] .es-main--3__bg-icon {
  position: absolute;
  z-index: 0;
  top: 10px;
  left: 79%;
  transform: translate(-50%, 0);
  scale: 0.8;
  transition: all 200ms ease-in-out;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-main--3 .es-main--3__bg-icon {
    scale: 1.2;
    left: 48%;
    top: -10%;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-main--3__Ctn {
  position: relative;
  z-index: 2;
}
#es-rc #es-rc-content [data-es-rc] .es-main--3__pack {
  position: relative;
  z-index: 2;
  scale: 1;
  transition: all 200ms ease-in;
  min-width: 200px;
}
#es-rc #es-rc-content [data-es-rc] .es-main--3__pack:hover {
  scale: 1.05;
}
#es-rc #es-rc-content [data-es-rc] .es-main--3__shine {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: rotate 40s linear 0s infinite normal forwards;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-main--3 {
    background-image: url("../images/bg-main-3-desktop.webp");
  }
}
#es-rc #es-rc-content [data-es-rc] .es-finish--tab {
  background-color: #0a1f41;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--1 {
  background-image: url("../images/bg-finish.webp");
  background-size: cover;
  background-position: center;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--1__header {
  font-family: "Gotham-Book";
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--1__header strong {
  font-family: "Gotham-Black";
}
#es-rc #es-rc-content [data-es-rc] .es-finish--1__header span {
  font-size: 2.6rem;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--1__logo {
  max-height: 100px;
  width: auto;
  margin-bottom: 2rem;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--1__pack {
  scale: 1;
  transition: all 200ms ease-in-out;
  min-width: 250px;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--1__pack:hover {
  scale: 1.05;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--2__flexCtn {
  row-gap: 5px;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--2__single {
  background-image: url("../images/bg-item-finish.webp");
  background-size: cover;
  background-position: center;
  min-width: 130px;
  max-width: 200px;
  min-height: 130px;
  max-height: 200px;
  aspect-ratio: 1;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--2__single:hover .es-finish--2__img {
  scale: 1.1;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--2__single p {
  margin-bottom: unset;
  font-size: 0.8rem;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--2__img {
  min-height: 90px;
  scale: 1;
  transition: all 200ms ease-in-out;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__header {
  font-family: "Gotham-Book";
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__header strong {
  font-family: "Gotham-Black";
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__single {
  width: 25%;
  opacity: 0.8;
  transform: all 200ms ease-in;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__single:hover .es-finish--3__icon {
  scale: 1.05;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__single:hover {
  opacity: 1;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__packshotCtn {
  position: relative;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__packshot {
  scale: 1;
  transition: all 200ms ease-in-out;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__packshot:hover .es-finish--3__badge {
  scale: 1.1;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__badge {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 60%;
  scale: 1;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__icon {
  height: 80px;
  scale: 1;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--3__text {
  font-family: "Open Sans", sans-serif;
}
#es-rc #es-rc-content [data-es-rc] .es-finish--4__header {
  font-family: "Gotham-Book";
}
#es-rc #es-rc-content [data-es-rc] .es-finish--4__header strong {
  font-family: "Metropolis-Black";
}
#es-rc #es-rc-content [data-es-rc] .es-finish--4__logo {
  max-width: 70%;
}/*# sourceMappingURL=styles.css.map */